RewriteEngine On

RewriteRule ^([a-z]+)$ index.php?e=$1
RewriteRule ^([a-z]+)/alta$ index.php?e=$1&a=alta

RewriteRule ^([a-z]+)/(\d+)$ index.php?e=$1&a=ver&id=$2

RewriteRule ^([a-z]+)/(editar|borrar|ver)/(\d+)$ index.php?e=$1&a=$2&id=$3
